# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
__init__.pyc

# Virtual Environment
venv/
env/

# Logs
*.log
*.log.*

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml

# Jupyter Notebook
.ipynb_checkpoints

# Local development configuration
.env
.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
__pycache__/
node_modules/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
*.project
*.pydevproject

# Rope project settings
.ropeproject

# Visual Studio Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100
.TemporaryItems/
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB/
.AppleDesktop/
Network Trash Folder/
Temporary Items/
.apdisk